body{
	margin: 2em;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
hr{
	clear: both;
}
input[type="checkbox"]{
	vertical-align:middle;
	margin: auto;
}
#filtersTop select{
	height:34px;
}

.weightContainer{
	clear: left;
	margin: 5px 0;
	overflow: hidden;
	display: flex;
}
.weightContainer * {
	float:left;
	border-radius: 0;
	line-height: 1.2;
}
.weightContainer > :first-child {
	border-radius: 4px 0 0 4px;
}
.weightContainer input:last-of-type {
	border-radius: 0 4px 4px 0;
}
.weightContainer label.active{
	font-weight: bold;
}
.weightContainer input{
	width: 7em;
	padding-left: 3px;
	border: 1px solid transparent;
	/*border-color: #eea236;*/
	border-color: #ccc;
}
.weightContainer input#tag1weight, .weightContainer input#tag2weight{
	width: 3em;	
}
.weightContainer select{
	max-width: 65px;
	border: 1px solid transparent;
	/*border-color: #eea236;*/
	border-color: #ccc;
}
.weightContainer .highscore-link{
	color: grey;
	font-style: italic;
	font-weight: bold;
	cursor: pointer;
	display: none;
}
.weightContainer .highscore-rank{
	font-weight: bold;
	display: none;
}
.weightContainer .highscore-link.active{
	color: DeepPink;
}
.fliter_option{
	clear: both;
}

ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #F0F0F0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 10px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
#category_container div {
	display:none;
}
#category_container div.active {
	display:block;
}
[tooltip]:after {
  margin-left: 5px;
  position : absolute;
  content : attr(tooltip);
  display : none;
  z-index: 255;
  white-space: pre;
  text-align: left;
  background-color: #bfb;
}
[tooltip]:hover:after {
  display : inline-block;
  padding: 10px;
}
td.deps [tooltip]:after {
  background-color: #fbb;
}
.shaonvSkill{
	color: red;
	font-weight:bold;
}
.is_f{
	color: red;
	font-weight:bold;
}	
.not_f{
	color: lightgreen;
	font-weight:bold;
}	
.gongzhuSkill{
	color: fuchsia;
	font-weight:bold;
}	
.normalSkill{
	color: grey;
	font-weight:bold;
}	
.hintInfo{
	color: teal;
	font-weight:bold;
}
span.badge{
	background: SlateGray;
}
.gotop{
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}
.gotop:before{
	content: "\e113";
}
#update_history{
	display: none;
}
red{
	color: red;
	font-weight:bold;		
}
#advanced_options_span{
	display: none;
}
.ds-powered-by, .ds-dialog-footer{
	display: none;
}


div.top{
	float: left;
	padding: 1em;
	width: 100%;
}
div.facet {
}
div.title{		
  max-width: 800px;		
}
div.fliter {
	width:50%;
	float: left;	
}
div.announcement {
	width:45%;
	float: right;
	border: 1px solid lightgrey;
	padding: 5px;
	max-height: 280px;
	overflow: auto;
}