.table-row{
	display: table-row;
	border-bottom: 1px solid #eee;
	transition: border-color 0.2s;
	border-bottom: 1px solid #f3f0f6;
}
.table-body .table-row:nth-child(2n+1) {
	background: #fff5ef;
	border-bottom: 1px solid #f3f0f6;
}
.table-body .table-row:nth-child(2n) {
	background: #fffdf9;
	border-bottom: 1px solid #f3f0f6;
}
.table-td{
	display: table-cell;
	padding: 4px;
	white-space: nowrap;
	vertical-align: middle;
	transition: color 0.2s;
}
.table-td.SS {
  color: #E81;
}
.table-td.S {
  color: #FA2;
}
.table-td.A {
  color: #F0A;
}
.table-td.B {
  color: #A66;
}
.table-td.C {
  color: #38F;
}
.table{
	display: table;
	border-collapse: collapse;
	line-height: 1.5;
	text-align: center;
	background: #fff;
	cursor: default;
}
.table-head{
	display: table-header-group;
}
.table-body{
	display: table-row-group;
	border-bottom: 3px double #777;
	font-size: 13px;
}

.name.table-td .button {
  border: 0.1em solid #eee;
  padding: 0.5em;
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  background-color: #fafafa;
  border-radius: 0.2em;
}
.name.table-td.own.deps .button {
  background-color: #ddf;
}
.name.table-td.own .button
{
  background-color: #dfd;
}